# Code Ownership
/.github                   @marcinz @m3vaz @sandeepd-nv @mag1cp1n
/continuous_integration    @marcinz @m3vaz @sandeepd-nv @mag1cp1n 
/conda                     @marcinz @m3vaz @sandeepd-nv @mag1cp1n

